body {
    background-color: rgb(49,49,49);
    overflow: hidden;
}

#particles-js {
    position: absolute;
    overflow: hidden;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    background-color: rgb(49,49,49);
    margin: 0;
    top: 0%;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 10px;
}

#button {
    display: flex;
    width: 105px; 
    height: 105px;
    border: none;
    border-radius: 5%;
    background-color: rgb(206,206,206);
    background-size: 95% 95%; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-clip: padding-box;
}